# This file lists the dependencies of this extension.
# Install with a command like: pip install -r pip-requirements.txt
coverage==4.5.1
coveralls==1.5.1
flake8==3.6.0
mock==2.0.0
nose==1.3.7
tox==3.5.3
virtualenv==16.1.0
xmltodict==0.11.0
